<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title || 'Feature Flags' %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body
    class="antialiased bg-gradient-to-br from-slate-900 via-slate-800 to-cyan-950"
  >
    <div class="root h-full">
      <!-- Header / Navigation -->
      <%- include('partials/header') %>

      <div class="container mt-12">
        <!-- Content -->
        <div class="flex flex-col flex-1"><%- include(pageView) %></div>

        <!-- Modals -->
        <%- include('partials/modals') %>
      </div>
    </div>

    <!-- API Library -->
    <script src="/lib/featureFlagsApi.js"></script>

    <!-- Shared App Scripts -->
    <script src="/js/utils.js"></script>

    <!-- Main App Script -->
    <script src="/app.js"></script>
  </body>
</html>
